@tailwind base;
@tailwind components;
@tailwind utilities;

.center-section {
  @apply max-w-7xl w-11/12 mx-auto;
}

/* Hamburger Styles */
.burger-menu .up.active {
  @apply transform rotate-45 origin-center -mb-[3px];
}

.burger-menu .middle.active {
  @apply transform -rotate-45 origin-center -mt-[4px];
}

.burger-menu .down.active {
  @apply opacity-0;
}

.right-to-left {
  animation: right-to-left-animation 100s infinite linear;
}

@keyframes right-to-left-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.right-to-left-mobile {
  animation: right-to-left-animation-mobile 30s infinite linear;
}

@keyframes right-to-left-animation-mobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

